@mixin flexbox($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.s1 {
  background-color: #00263b;
  padding: auto 0;
  // p {
  //   background-color: rgba(102, 152, 209, 0.397);
  // }

  h1 {
    position: absolute;
    top: 15vmin;
    left: 50%;
    transform: translate(-50%, -20%);
    background: linear-gradient(to bottom, #ffb367, #ffe2bc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .row {
    overflow: hidden;
    position:absolute;
    bottom:3em;
    height: auto;
    width: auto;
    margin: auto 5em;    
    .heading {
      color: #ffe2bc;
      font-family: "Montserrat", sans-serif;
      font-size: 1.5em;
      
    }
    .login {
      border-radius: 50px;
      background: #ffe2bc ;
      height: 25em;
      width:25em;
      margin: 0 auto;
      form {
        width: 80%;
        height: 100%;
      }
     
      h1 {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
      }
      img {
        height: 7vmin;
        width: 7vmin;
      }

      @include flexbox(column);
    }
  }
}
