@mixin flexbox($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.s1 {
  background-color: #00263b;
  padding: auto 0;
  // p {
  //   background-color: rgba(102, 152, 209, 0.397);
  // }

  h1 {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto 5rem;
    transform: translateY(-20%);
    background: linear-gradient(to bottom, #ffb367, #ffe2bc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .row {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    height: auto;
    width: auto;
    margin: auto 5em;
    .heading {
      color: #ffe2bc;
      font-family: "Montserrat", sans-serif;
      font-size: 1.5em;
    }
    .login {
      border-radius: 50px;
      background: #ffe2bc;
      height: 25em;
      width: 25em;
      margin: 0 auto;
      form {
        width: 80%;
        height: 100%;
      }

      h1 {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
      }
      img {
        height: 7vmin;
        width: 7vmin;
      }

      @include flexbox(column);
    }
  }
}

@media screen and (max-width: 992px) {
  .s1 {
    h1 {
      margin: auto 5vw;
      padding-left: 1rem;
      text-align: left;
    }

    .row {
      margin: auto 5vw;
      .heading {
        height: 60vh;
        p {
          text-align: left;
        }
      }
      .col-lg-5 {
        display: none;
      }
      
    }
  }
}
