@mixin flexbox($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.s1 {
  background-color: #00263b;
  padding: auto 0;
  // p {
  //   background-color: rgba(102, 152, 209, 0.397);
  // }
  .flip-box {
    position: relative;
    perspective: 1000px;
  }
  h1 {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto 5rem;
    transform: translateY(-15%);
    background: linear-gradient(to bottom, #ffb367, #ffe2bc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .row {
    position: absolute;
    top: 40%;
    transform: translateY(-30%);
    height: auto;
    width: auto;
    margin: auto 5em;
    .heading {
      color: #ffe2bc;
      font-family: "Montserrat", sans-serif;
      font-size: 1.5em;
    }
    .login {
      border-radius: 50px;
      background:#e43f5a;
      height: 25em;
      width: 25em;
      margin: 0 auto;
      form {
        width: 80%;
        height: 100%;
      }

      h1 {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
      }
      img {
        height: 7vmin;
        width: 7vmin;
      }

      @include flexbox(column);
    }
  }
}

@media screen and (max-width: 992px) {
  .s1 {
    .flip-box {
      position: relative;
      top: -20%;
      perspective: 1000px;
    }

    .flip-box-inner {
      position: relative;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    // .flip-box:hover .flip-box-inner {
    //   transform: rotateY(180deg);
    // }

    .flip-box-front,
    .flip-box-back {
      position: absolute;
      // top:0;
      // bottom: 0;
      // left:0;
      // right:0;
      // width: 100%;
      // height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-box-back {
      transform: rotateY(180deg);
    }
    h1 {
      margin: auto 5vw;
      padding-left: 1rem;
      text-align: left;
    }

    .row {
      margin: auto 5vw;
      .heading {
        height: 70vh;
        p {
          text-align: left;
        }
      }
    }
  }
}
