
.s2 {
  background: linear-gradient(to bottom right, #ffffff, #f8e1f4);
}


.s2 {
  h1 {
    background: linear-gradient(to bottom right, #e28bdb, #b62fc2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.type-mountain {
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-50%);
  border-radius: 50%;
  width: 50vmin;
  height: 50vmin;
}