@import "./_sec_one";
@import "./_sec_two";
@import "./_sec_three";
@import "./header";
@import "./footer";
$zoomoutwidth : 1536px;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;

}



.section {
  // for zoomout max width
  margin: 0 auto;
  max-width:$zoomoutwidth;
  h1 { 
    font-family: 'Coda', cursive;
    font-size: 1.5em;
  }
}
/* one section to rule them all */




/* .section img {
  border-radius: 50%;
  width: 50vmin;
  height: 50vmin;
} */

