.s1 {
  background-color: #00263b;
  padding: auto 0;
}

.s1 h1 {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto 5rem;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb367), to(#ffe2bc));
  background: linear-gradient(to bottom, #ffb367, #ffe2bc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.s1 .row {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  height: auto;
  width: auto;
  margin: auto 5em;
}

.s1 .row .heading {
  color: #ffe2bc;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}

.s1 .row .login {
  border-radius: 50px;
  background: #ffe2bc;
  height: 25em;
  width: 25em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s1 .row .login form {
  width: 80%;
  height: 100%;
}

.s1 .row .login h1 {
  position: initial;
  top: initial;
  left: initial;
  -webkit-transform: initial;
          transform: initial;
}

.s1 .row .login img {
  height: 7vmin;
  width: 7vmin;
}

@media screen and (max-width: 992px) {
  .col-lg-5 {
    display: none;
  }
  .heading {
    height: 60vh;
  }
  .s1 h1 {
    padding-left: 1rem;
    text-align: left;
  }
  .s1 .row p {
    text-align: left;
  }
}

.s2 {
  background-color: #ffe277;
}

.s2 h1 {
  background: -webkit-gradient(linear, left top, right bottom, from(#e28bdb), to(#b62fc2));
  background: linear-gradient(to bottom right, #e28bdb, #b62fc2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.type-mountain {
  position: absolute;
  top: 40%;
  left: 80%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 50%;
  width: 50vmin;
  height: 50vmin;
}

header {
  position: absolute;
  top: 5vmin;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  z-index: 1;
  margin: auto 5rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: aquamarine;
  position: absolute;
  z-index: 1;
  background-color: cadetblue;
  bottom: 0;
  left: 0;
  right: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.section {
  margin: 0 auto;
  max-width: 1536px;
}

.section h1 {
  font-family: 'Coda', cursive;
  font-size: 1.5em;
}

/* .section img {
  border-radius: 50%;
  width: 50vmin;
  height: 50vmin;
} */
/*# sourceMappingURL=style.css.map */